body {
  margin: 0;
}
li {
  display: inline;
  list-style-type: none;
  margin: 2%;
  font-size: 175%;

  font-family: meny-font;
}
ul {
  margin-left: 40%;
}

.link {
  color: #fe019a;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgb(5, 0, 4), 0 0 5px rgb(10, 10, 10), 0 0 5px black;
}

.currentPage {
  text-decoration: underline;
  color: rgb(243, 239, 245);
  text-shadow: 1px 1px 2px rgb(3, 3, 3), 0 0 25px rgb(8, 7, 7), 0 0 5px black;
}

h1 {
  color: orange;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  width: 100%;
  background-image: url("img/leopard-img-long.jpg");
  height: 100px;
  box-shadow: 0 0 20px 0 rgb(5, 5, 5);
}

@font-face {
  font-family: meny-font;
  src: url(./fonts/mangat.ttf);
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: rgb(247, 232, 232);
}
footer p {
  color: rgb(107, 105, 105);
}

.girl {
  position: absolute;
  bottom: 90px;
}

.aboutContainer {
  bottom: 50%;
  right: 10%;
}
.aboutContainer,
.tjansterInfo,
.moreInfoMe,
.moreInfoExperience,
.moreInfoEducation {
  position: absolute;

  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(167, 7, 100, 0.411);
  width: 300px;
  height: 250px;
}

.about {
  font-family: Roboto;
  font-size: 120%;
  margin: 4%;
  color: rgb(252, 14, 180);
  text-shadow: 2px 2px 2px rgb(8, 8, 8), 0 0 5px rgb(8, 8, 8),
    0 0 5px rgb(8, 8, 8);
}
.aboutH1,
.tjansterH1 {
  color: #fd5305;
  margin-top: 100px;
  margin-left: 10%;
  font-size: 300%;
  font-family: Robotos;
  text-shadow: 2px 2px 2px rgba(8, 8, 8, 0.658), 0 0 5px rgba(8, 8, 8, 0.596),
    0 0 5px rgba(8, 8, 8, 0.493);
}

.tjansterImg {
  border-radius: 10%;
  border-color: #fd5305;
  margin: 2%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.979);
}
.tjansterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20%;
}
.tjansterH1 {
  text-align: center;
  margin-top: -2%;
}

.tjansterInfo {
  width: 700px;
  height: 250px;
  bottom: 55%;
  right: 25%;
  border-radius: 50px;
  padding: 2%;
}

p {
  font-size: 92.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(59, 37, 12);
}

.buttons {
  position: absolute;

  bottom: 38%;
  right: 8%;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  margin: 2%;
  padding: 2%;
  width: 120px;
  color: #ee780a;
  font-family: roboto;
  font-size: 100%;
  background-color: #983caa;
  border-radius: 50px;
  border: none;
  box-shadow: 0 2px 0 rgba(19, 18, 19, 0.822), 0 5px 20px rgba(0, 0, 0, 0.527);
}

.moreInfoMe {
  bottom: -5%;
  right: 200%;
  padding: 5%;
  background-color: rgba(167, 7, 100);
  box-shadow: 0 2px 0 rgba(19, 18, 19, 0.822), 0 5px 20px rgba(0, 0, 0, 0.527);
}
.moreInfoExperience {
  bottom: 300%;
  right: 100%;
  padding: 5%;
  background-color: rgba(167, 7, 100);
  box-shadow: 0 2px 0 rgba(19, 18, 19, 0.822), 0 5px 20px rgba(0, 0, 0, 0.527);
}
.moreInfoEducation {
  bottom: -500%;
  right: 100%;
  padding: 5%;
  background-color: rgba(167, 7, 100);
  box-shadow: 0 2px 0 rgba(19, 18, 19, 0.822), 0 5px 20px rgba(0, 0, 0, 0.527);
}

.moreInfoh1 {
  margin-top: -30%;
}
.moreInfoP {
  color: rgb(240, 243, 245);
}

form {
  position: absolute;
  right: 25%;
  bottom: 20%;
  background-color: rgba(227, 239, 229, 0.7);
  width: 40em;
  padding: 1em 1em;
  margin: auto;
  border-radius: 10%;
  text-align: center;
  margin-top: 25%;
}

#Fname,
#Lname,
#email {
  margin: 0 0 1em 0;
  padding: 1em;
  font-size: 15px;
}
#textArea {
  margin: 0 0 1em 0;
  padding: 1em;
  font-size: 10px;
  width: 300px;
  height: 200px;
}

.formSent {
  text-align: center;
}
