h1 span {
  padding: 5px 15px;
  background: #983caa;
}

.hobbyContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}

.hobbyContainer > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.301);
  background-color: #fff;
  transition: all 100ms ease-in-out;
  background-color: rgba(170, 56, 145, 0.205);
  margin: 2%;
}

dt {
  color: #ee780a;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}
dd {
  font-size: 92.5%;
  margin-left: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(59, 37, 12);
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}
